.container {
    display: flex;
    flex-direction: column;
}

.previousPrice {
    font-size: small;
    font-weight: normal;
    text-decoration: line-through;
}

.currentPrice {
    font-weight: 700;
}
